data/raw/sudoku.jsonl filter=lfs diff=lfs merge=lfs -text
checkpoints/80000/model-00001-of-00002.safetensors filter=lfs diff=lfs merge=lfs -text
checkpoints/80000/model-00002-of-00002.safetensors filter=lfs diff=lfs merge=lfs -text
